- title 'Welcome'

- if current_user
  = link_to "Projects", projects_path, class: 'button'
- else
  = link_to 'Login', new_user_session_path, class: 'button'
  = link_to 'Signup', new_user_registration_path, class: 'button'

